.CircProgContainer {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Altezza minima della viewport */
}

html,
body {
  height: 100%;
  margin: 0;
}
