.elemento {
  box-sizing: border-box;
  border-style: none;
  width: 100%;
  height: 6em;
  background: #fefefe;
  display: flex;
  align-items: center;
}
.elemento:hover {
  background: linear-gradient(to top, #d3c1e9, #fefefe);
  cursor: pointer;
}
.propiclist {
  width: 5em;
  height: auto;
  aspect-ratio: 1;
}

.pp {
  font-size: 1em;
}
