.allContainer {
  flex-direction: column;
  margin-top: 2em;
  align-items: center;
  padding-bottom: 2em;
  display: flex;
}

.option {
  text-align: center;
  padding: 2rem;
  background-color: 'white';
  border-radius: 8px;
  box-shadow: 0 3px 5px 2px rgba(155, 105, 135, 0.3);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-left: 1em;
  margin-right: 1em;
}
.optionContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.option > .optionText {
  align-self: center;
  height: auto; /* Imposta l'altezza del pulsante uguale all'altezza della card */
}
.option > * {
  margin-top: auto; /* Allinea l'elemento alla fine del contenitore flessibile */
}
.formflex2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
}

@media screen and (min-width: 601px) {
  .option {
    width: 60vh;
    height: 60vh;
  }

  .formflex2 {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .option {
    width: 60vh;
    height: 60vh;
  }

  .formflex2 {
    width: 100%;
  }
}

.optionIcon {
  margin-bottom: 1rem;
}

.optionText {
  font-size: flex-end; /* togliere*/
}
.regicontainer {
  width: 100%;
  padding: 1rem;
}

.testo {
  color: blueviolet;
  text-align: center;
}

.formflex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
}

.riga {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.introduction {
  text-align: center;
  margin-bottom: 2em;
  padding: 0 1em;
}

.introduction h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
