.regicontainer {
  min-width: '30em';
  max-width: '70em';
  width: '50%';
  text-align: 'center';
  margin-left: 'auto';
  margin-right: 'auto';
}

.formflex {
  display: 'flex';
  flex-wrap: 'wrap';
  width: '100%';
  text-align: 'center';
  margin-left: 'auto';
  margin-right: 'auto';
}

.riga {
  width: '100%';
  align-content: 'center';
  text-align: 'center';
  margin-left: auto;
  margin-right: auto;
  display: 'flex';
  flex-wrap: 'wrap';
}
